<%= link raw('<span>Download</span>'), to: Routes.crawl_path(@conn, :download), class: "nav-link" %>

<h4>Films</h4>

<ul class="collection">
<%= num_page = ceil(Enum.count(@films)/20) %>
    <%= for film <- Enum.chunk_every(@films, 20) |> Enum.at(0) do %>
        <li class="collectio-item">
            <%= film.title %>
        </li>
    <% end %>
</ul>
