<%= form_for @non, Routes.crawl_path(@conn, :post), fn f -> %>
  Input URL: <%= text_input f, :url %>
  <%= submit "Submit", class: "btn btn-primary" %>
<% end %>

<a href="/upfile">Upload a file contains urls here!</a>

